<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application><setting><database><server_host>100.67.3.81</server_host><server_port>5432</server_port><db_name>db_parkir</db_name><db_usr_name>ideas</db_usr_name><db_usr_passwd>9e969697ac</db_usr_passwd><gate_out_id>62</gate_out_id></database><skin><style>tsOffice2003Silver</style></skin></setting></application>
